/* standaart kleur zwart tenzij anders aangegeven */
* {
    color: black;
}

/* Home.html pagina */

nav {
    display: flex;
    justify-content: right;
    background-color: #D0E7D2;
    width: auto;
    height: 35px;
}

nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
  }

  #Button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
  }

  #Button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
  }

  #Button3:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
  }

  #welcomeSection {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/66/Big_Tree_with_spring_picnic.jpg);
    height: 100%;
  }

  #welcomeSection h1 {
    height: 400px;
    text-align: center;
    padding-top: 40px;
    color: white;
  }

  .CenB {
    height: auto;
    width: 100%;
  }

  .CO2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    padding-bottom: 25%;
  }

  .Bomen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    padding-bottom: 25%;
  }

  input {
    border-radius: 20px;
    padding: 5px;
    background-color: #D0E7D2AA;
    font-size: large;
    text-align: center;
  }

  .Bomen input {
    background-color: #B0E0E6AA;
  }

  ::placeholder {
    color: black;
    opacity: 1;
    text-align: center;
  }

  #Bomen {
    background-image: url(https://www.rtlnieuws.nl/sites/default/files/content/images/2022/07/11/ANP-449669661.jpg?itok=JD1p2zNA&width=2048&height=1152&impolicy=semi_dynamic);
    padding-top: 30%;
    height: 100%;
  }

  .Lijn {
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .Lijn.Kant {
    width: 25%;
  }
  
  .Lijn.Midden {
    width: 50%;
    text-align: center;
    border-style: solid;
    border-color: #D0E7D2;
    border-width: 2px;
    border-top: none;
    border-bottom: none;
    height: 100%;
    font-size: 25px;
  }
  
  .Foot:after {
    content: "";
    display: table;
    clear: both;
  }

  .Doneer {
    height: auto;
    width: 30%;
  }

